In [13]:
import sys
import numpy as np
import pandas as pd

#np.set_printoptions(threshold=sys.maxsize)

Import data:

In [2]:
data = pd.read_csv('weatherHistory.csv')

Extract day, month, year from formatted date.

In [3]:
data['Date'] = pd.to_datetime(data['Formatted Date'], errors='ignore', utc=True)

In [4]:
data['Year'] = data['Date'].dt.year
data['Month'] = data['Date'].dt.month
data['Day'] = data['Date'].dt.day
data['Hour'] = data['Date'].dt.hour

In [5]:
data.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary,Date,Year,Month,Day,Hour
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.,2006-03-31 22:00:00+00:00,2006,3,31,22
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.,2006-03-31 23:00:00+00:00,2006,3,31,23
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.,2006-04-01 00:00:00+00:00,2006,4,1,0
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.,2006-04-01 01:00:00+00:00,2006,4,1,1
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.,2006-04-01 02:00:00+00:00,2006,4,1,2

Check if there is any missing value and if there is find out in which column.

In [6]:
data.isnull().any()

Formatted Date              False
Summary                     False
Precip Type                  True
Temperature (C)             False
Apparent Temperature (C)    False
Humidity                    False
Wind Speed (km/h)           False
Wind Bearing (degrees)      False
Visibility (km)             False
Loud Cover                  False
Pressure (millibars)        False
Daily Summary               False
Date                        False
Year                        False
Month                       False
Day                         False
Hour                        False
dtype: bool

Clear missing values

In [7]:
filtered_data = data.dropna()
filtered_data.isnull().any()
data = filtered_data

In [8]:
data.isnull().any()

Formatted Date              False
Summary                     False
Precip Type                 False
Temperature (C)             False
Apparent Temperature (C)    False
Humidity                    False
Wind Speed (km/h)           False
Wind Bearing (degrees)      False
Visibility (km)             False
Loud Cover                  False
Pressure (millibars)        False
Daily Summary               False
Date                        False
Year                        False
Month                       False
Day                         False
Hour                        False
dtype: bool

Convert categorical labels to numerical labels.

In [9]:
from sklearn.preprocessing import LabelEncoder

labelEncoder = LabelEncoder()
data['Precip Type'] = labelEncoder.fit_transform(data['Precip Type'])

In [10]:
data.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary,Date,Year,Month,Day,Hour
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,0,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.,2006-03-31 22:00:00+00:00,2006,3,31,22
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,0,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.,2006-03-31 23:00:00+00:00,2006,3,31,23
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,0,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.,2006-04-01 00:00:00+00:00,2006,4,1,0
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,0,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.,2006-04-01 01:00:00+00:00,2006,4,1,1
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,0,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.,2006-04-01 02:00:00+00:00,2006,4,1,2

Export filtered data to csv

In [14]:
data.to_csv('weatherHistoryPreprocessed.csv')

Import scikit-learn

In [ ]:
from sklearn.model_selection import train_test_split

Split data into train and test.

In [ ]:
# y is the label
# X is the independent variables
X = data.iloc[:, 3:11]
y = data.iloc[:, 2]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

print("X_train\n----------------------------------------------------------------------------------\n",X_train, "\n")
print("X_test\n----------------------------------------------------------------------------------\n",X_test, "\n")
print("y_train\n----------------------------------------------------------------------------------\n",y_train, "\n")
print("y_test\n----------------------------------------------------------------------------------\n",y_test, "\n")

In [ ]:
####################################################################
#############                ADA BOOST             #################
####################################################################

In [ ]:
from sklearn.ensemble import AdaBoostClassifier

ada_boost_classifier = AdaBoostClassifier(n_estimators=100)
scores = cross_val_score(ada_boost_classifier, X_train, y_train, cv=5)
scores.mean()

In [ ]:
scores = cross_val_score(ada_boost_classifier, X_train, y_train, cv=2)
scores.mean()

mean = 0
values = []
for i in range(100):
    scores = cross_val_score(ada_boost_classifier, X_train, y_train, cv=2)
    values.append(scores.mean())
    mean += scores.mean()
print(mean / 100)
print(values)

PLOT for values

In [ ]:
scores = cross_val_score(ada_boost_classifier, X_train, y_train, cv=3)
scores.mean()

In [ ]:
scores = cross_val_score(ada_boost_classifier, X_train, y_train, cv=7)
scores.mean()

In [ ]:
scores = cross_val_score(ada_boost_classifier, X_train, y_train, cv=10)
scores.mean()

In [ ]:
####################################################################
#############         GRADIENT TREE BOOSTING       #################
####################################################################

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier

gradient_boost_classifier = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=1, random_state=0)
gradient_boost_classifier.fit(X_train, y_train)
gradient_boost_classifier.score(X_test, y_test)

In [ ]:
gradient_boost_classifier = GradientBoostingClassifier(n_estimators=100, learning_rate=0.5, max_depth=1, random_state=0)
gradient_boost_classifier.fit(X_train, y_train)
gradient_boost_classifier.score(X_test, y_test)

In [ ]:
gradient_boost_classifier = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=3, random_state=0)
gradient_boost_classifier.fit(X_train, y_train)
gradient_boost_classifier.score(X_test, y_test)

In [ ]:
gradient_boost_classifier = GradientBoostingClassifier(n_estimators=100, learning_rate=0.1, max_depth=2, random_state=0)
gradient_boost_classifier.fit(X_train, y_train)
gradient_boost_classifier.score(X_test, y_test)

In [ ]:
gradient_boost_classifier = GradientBoostingClassifier(n_estimators=1000, learning_rate=0.1, max_depth=2, random_state=0)
gradient_boost_classifier.fit(X_train, y_train)
gradient_boost_classifier.score(X_test, y_test)